<div class="center hero-unit">
<h1>New Book</h1>

<%= render 'form' %>

<<<<<<< HEAD
<%= link_to 'Back', books_path ,class: "btn btn-default"%>
=======
<%= link_to 'Back', books_path, class: "btn btn-default" %>
</div>
>>>>>>> view
